@use '@/shared/styles/variables' as *;

.loader {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
}

.signContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: $gap-l;
}

.tabs {
  display: flex;
  justify-content: center;
}
