@use '@/shared/styles/variables' as *;

.signContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: $app-max-width;
  min-height: 100vh;
  margin: 0 auto;
  padding: $gap-l;
}

.tabs {
  display: flex;
  justify-content: center;
}
