@use '@/shared/styles/variables' as *;

.signContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: $gap-l;
}

.tabs {
  display: flex;
  justify-content: center;
}
