@use '@/shared/styles/variables' as *;

.container {
  display: flex;
  justify-content: center;
}

.form {
  width: min(100%, 420px);

  &Inner {
    display: flex;
    flex-direction: column;
    gap: $gap-xs;
  }
}

.button {
  margin-top: $gap-xs;
}
