@use '@/shared/styles/variables' as *;

.layout {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  width: 100%;
  max-width: $app-max-width;
  height: 100dvh;
  margin: 0 auto;
}

.appBar {
  border-radius: 0 0 $border-radius-s $border-radius-s;
  padding: $gap-m $gap-l;
}

.title {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  overflow: auto;
  padding: 0 $gap-s;
}

.navigationAction {
  color: rgba($color-white, 0.7);
}

.navigationActionSelected {
  color: $color-white;
}
